/* ナビゲーション */
#nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.nav__content {
  width: 200px;
  padding: 1em 0;

  text-align: center;
}

.nav__content a {
  color: #111;
  text-decoration: none;
}
/* メインビジュアルエリア */
#top_visual {
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#91cfff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(145, 207, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(145, 207, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(145, 207, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91cfff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.site_title {
}

/* 検索方法選択エリア */
#SearchTools_index {
  display: flex;
  width: 100%;
}
#SearchTools_index a {
  color: #91cfff;
  font-weight: bold;
}
#SearchTools_index li {
  width: 50%;
  text-align: center;
  padding: 1em 0;
  font-size: 18px;
}
.current_index {
  background-color: #91cfff;
  color: #fff;
  font-weight: bold;
}

/* CoPage */
#Coinfo,
#CategorySearch {
}

.input_keywords {
  text-align: center;
  padding: 20px 0;
}
.input_keywords,
.category_index {
  background-color: #91cfff;
  border-bottom: double 8px #fff;
}
/* search */
.category_index {
  display: flex;
  justify-content: center;
  text-align: center;
}
.categories {
  padding: 1em 0;
  width: 25%;
  color: #fff;
  background-color: #91cfff;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.categories:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.category__scroll {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 5%;
  background-color: #f8fcff;
}
.category__prefectures,
.category__industries,
.category__services {
  overflow: hidden;
}
.radio__categories {
  float: left;
}
.clickedIndustry,
.clickedArea {
  width: 100%;
}
.searchSer,
.searchPre {
  margin-top: 0.5em;
  text-align: center;
}

/* 検索結果表示エリア */
#list__corporations {
}
.list_corporation {
  padding: 1em 5%;
}

.searchWord {
  margin: 0 auto;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
  line-height: 2.5em;
  font-size: 14px;
}
.add_clear {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
.category_clear {
  margin-left: 1em;
}

.searchWord span {
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 16px;
}

.list_corporation:nth-child(odd) {
  background-color: #f8fcff;
}
.list_corporation p,
.list_corporation li {
  color: rgb(77, 77, 77);
  font-size: 14px;
}
.serviceCategory {
  display: flex;
  margin: 0.5em 0;
}
.serviceCategory ul {
  float: left;
}
.tag {
  border-right: solid 1px;
  margin-right: 0.5em;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  font-weight: bold;
  color: #91cfff;
  margin: 1em 0;
}
.current {
  background-color: #91cfff;
  color: #fff;
  border-radius: 22px;
}

.pagination a {
  padding: 10px 0;
  width: 44px;
  text-align: center;
  display: block;
}

/* 企業詳細ページ */

#CoPage h1 {
  font-size: 26px;
  border-bottom: 2px solid #91cfff;
  border-left: 10px solid #91cfff;
  padding-left: 10px;
  width: 90%;
  margin: 0 auto;
}

#CoPage h3 {
  padding: 0 5%;
  margin: 1em 0 0.5em 0;
}
#CoPage h2 {
  background-color: #f8fcff;
  padding: 0.5em 5%;
  font-size: 22px;
  margin: 1em 0 0.5em 0;
}
#CoPage p,
#CoPage a {
  padding: 0 5%;
}
#CoPage table {
  padding: 0 5%;
  vertical-align: middle;
  width: 100%;
}
#CoPage table h3,
#CoPage table p,
#CoPage table a {
  margin: 0;
  padding: 0.5em 0;
}
.lastUpdateTime {
  text-align: right;
  font-size: 14px;
}
